<div class="apply-for-ask" ng-controller="applyForAsk">
    <div class="ng-scope">
        <div class="gray-bg " id="page-wrapper" style="height: 1400px;padding: 0;">
            <!-- title -->
            <nav class="navbar navbar-static-top clearfix">
                <p class="page-name">申请咨询</p>
                <div class="page-title"><span>{{imageForPersons.patientname | limitTo:20}}</span>&nbsp;&nbsp;&nbsp;<span>{{imageForPersons.sex | selectSex}}</span>&nbsp;&nbsp;&nbsp;<span>{{ imageForPersons.birthday | presentAge }}</span>&nbsp;&nbsp;&nbsp;<span>{{ imageForPersons.patientid }}</span></div>
            </nav>
            <!-- content -->

            <div class="col-lg-12">
                <form action="" class="content" name="basic_form">
                    <div class="ibox-content" style="margin-left: 10px;">
                        <div class="fill-in-title">请填写咨询信息</div>
                        <div class="row">
                            <div class="col-lg-6">
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <td style="width: 100px;text-align: center;"><span class="ball-warp">咨询标题<i class="red-ball"></i></span></td>
                                        <!--<td ng-if="imageForPersons.status == 5"><input id="titleID" class="form-control" style="width:100%;" type="text" disabled="disabled"  ng-model="title"><i></i></td>-->
                                        <td>
                                            <input id="title" class="form-control" name="myAccount" style="width:100%;" type="text" placeholder="输入咨询标题"  ng-model="title"  required="required">
                                            <i></i>
                                            <div class="alert alert-danger well-sm" ng-show="myform.myAccount.$error.required">账号不能为空！</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 100px;text-align: center;"><span class="ball-warp">基本病史<i class="red-ball"></i></span></td>
                                        <td>
                                            <textarea id="memo" class="form-control" style="width:100%;" name="" id="" cols="30" rows="10" placeholder="输入患者患病史、手术史、过敏史、输血史等" ng-model="memo" maxlength="250"></textarea>
                                            <span class="record-number">还可以输入<span class="red-font">{{memo?(250-memo.length >0?250-memo.length:0):250}}</span>字</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 100px;text-align: center;"><span class="ball-warp">咨询提问<i class="red-ball"></i></span></td>
                                        <td>
                                            <textarea id="askquestion" class="form-control" style="width:100%;" rows="3" placeholder="输入需要咨询的问题"  ng-model="askquestion" maxlength="250"></textarea>
                                            <span class="record-number">还可以输入<span class="red-font">{{askquestion?(250-askquestion.length >0?250-askquestion.length:0):250}}</span>字</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 100px;text-align: center;"><span>附件上传</span></td>
                                        <td> <section >
                                            <div class="widget-body">
                                                <div class="fileinput fileinput-new input-group col-md-12"
                                                     data-ui-jq="fileinput"
                                                        >
                                                    <div style="position: relative;overflow: hidden;">
                                                        <input type="file" class="form-control" id="upload_file" name="upload_file"
                                                               style="display: none;" onchange="angular.element(this).scope().changeFiles(this)"  multiple>
                                                        <input type="text" class="form-control" id="upload_file_tmp" name="upload_file_tmp" style="width: 90%;"
                                                               readonly="readonly" onclick="upload_file.click(); ">
                                                        <button type="button" class="btn btn-primary" id="select_file" style="position: absolute;right: 0px;z-index: 900;"
                                                                onclick="upload_file.click();">选择附件
                                                        </button>
                                                    </div>
                                                    <span class="record-number">支持上传文件格式:txt, pdf,doc,docx,xls,xlsx,png,jpg,dcm,zip,rar,bmp,7zip,jpeg.</span>
                                                    <span class="record-number">上传文件数量:5</span>
                                                    <span class="record-number">上传文件大小:10M(单个)</span>
                                                </div>

                                                <!--<button
                                                        style="margin-top: 15px;"
                                                        class="btn btn-primary col-md-2 pull-right"
                                                        type="button"
                                                        ng-click="uploadAskAttachment()">
                                                    上传附件
                                                </button>
                                                <button
                                                        style="margin-top: 15px;"
                                                        class="btn btn-danger col-md-2 pull-right"
                                                        ng-hide="isHide"
                                                        type="button"
                                                        ng-click="clearFile()">取消
                                                </button>-->

                                                <!--<div id="filetable">
                                                    <table class="table table-bordered">
                                                        <tbody>
                                                        <tr ng-repeat="file in files">
                                                            <td class="col-sm-10">
                                                                {{file.name}}
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>-->
                                            </div>
                                        </section></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-lg-6">
                                <table class="table">
                                    <tr>
                                        <td style="color: #ff0000;width: 100px;text-align: right;">拒绝原因<i></i></td>
                                        <td><textarea id="canclereason" class="form-control" style="width:100%;height: 208px;" rows="3" placeholder="Text input" ng-model="canclereason"></textarea></td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: right;">补充备注<i></i></td>
                                        <td>
                                            <textarea id="supplementcomments" class="form-control" style="width:100%;height: 208px;" rows="3" placeholder="Text input" ng-model="supplementcomments" maxlength="250"></textarea>
                                            <span class="record-number">还可以输入<span class="red-font">{{supplementcomments?(250-supplementcomments.length >0?250-supplementcomments.length:0):250}}</span>字</span>
                                        </td>

                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div><!-- content end -->
                    <!-- footer -->
                    <div class="applyForAsk-footer">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default orange-btn" ng-click="startAsk()">发起咨询</button>
                            <button type="button" class="btn btn-default gray-btn" ng-click="cancleAsk()">返回</button>
                        </div>
                    </div>
                </form>
            </div><!-- col-lg-12 -->

        </div>
    </div>
</div>
<toaster-container></toaster-container>